@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 6px; 
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b0b0b0; 
    border-radius: 4px; 
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }


  @layer utilities {
    /* For WebKit browsers (Chrome, Safari) */
    .no-scrollbar::-webkit-scrollbar {
      display: none; /* Hides the scrollbar */
    }
  
    /* For Firefox */
    .no-scrollbar {
      scrollbar-width: none; /* Hides the scrollbar */
    }
  }
  